<div class="uk-container reply" id="nav">

    <button class="uk-button uk-button-default reply" id="navButt" type="button"><svg viewBox="0 0 100 80" width="40"
            height="40">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg></button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li><a href="/newpost">New Post(big)</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">The Forums</li>
            <li><a href="/forum">Board 1</a></li>
        </ul>

    </div>

    <button href="#toggle-animation" class="uk-button uk-button-default hidden right reply" type="button"
        uk-toggle="  target: #toggle-animation; hidden; animation: uk-animation-fade">New Post</button>
    <div id="toggle-animation" class="uk-card uk-card-default uk-card-body uk-margin-small" hidden>
        <form action="postpost" method="POST">
            <div class="uk-margin">
                <input class="uk-input" name="title" type="text" placeholder="Title" value="">
            </div>
            <div class="uk-margin">
                <input class="uk-input" name="author" type="text" placeholder="Author" value="">
            </div>
            <div class="uk-margin">
                <input class="uk-input" name="avatar" type="text"
                    placeholder="Avatar:ex.Direct link: http://myimage.com/myimage.png" value="">
            </div>
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="4" name="comment" placeholder="Textarea" value=""></textarea>
            </div>
            <button type="submit" value="postpost"
                class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Reply</button>
            </fieldset>
        </form>
    </div>
</div>
<div class="uk-container" id="forumBox">
    <hr>
    <div class="uk-container">
        {{# each fileName}}
        <ul class="uk-comment-list">
            <li>
                <hr>
                <div class="uk-container">
                    <h1 class="uk-margin-remove"><a class="uk-link-reset" href="#">{{this.title}}</a></h1>

                    <hr class="uk-divider-small">
                    <article class="uk-comment uk-visible-toggle" tabindex="-1">
                        <header class="uk-comment-header uk-position-relative">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-comment-avatar" src={{this.avatar}} width="400" height="400" alt="">
                                </div>
                                <div class="uk-width-expand">

                                    <h5 class="uk-comment-title uk-margin-remove"><a id="authName" 
                                            href="#">OP:{{this.authour}}</a></h5>


                                    <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset"
                                            href="#">Date Posted:{{this.date}}</a>
                                    <hr class="uk-divider-small"></p>
 <p class="uk-comment-meta uk-margin-remove-top">
                                     <a class="uk-link-reset"
                                            href="#">Post Updated:{{this.dateUp}}</a>
                                    <hr class="uk-divider-small"></p>
                                </div>
                            </div>
                            <div class="uk-position-top-right uk-position-small"><a class="uk-link-muted"
                                    href="/post{{this.uuid}}">Go To Post</a>
                                <button href="#toggle-{{this.uuid}}" class="uk-button uk-button-default hidden"
                                    type="button"
                                    uk-toggle="  target: #toggle-{{this.uuid}}; hidden; animation: uk-animation-fade">Reply
                                    to Post</button>
                                <div id="toggle-{{this.uuid}}"
                                    class="reply uk-card uk-card-default uk-card-body uk-margin-small" hidden>
                                    <form action="replypost" method="POST">
                                        <div class="uk-margin">
                                        </div>
                                        <div class="uk-margin">
                                            <input class="uk-input" name="authorr" type="text" placeholder="Author"
                                                value="">
                                        </div>
                                        <div class="uk-margin">
                                            <input class="uk-input" name="avatar" type="text"
                                                placeholder="Avatar:ex.Direct link: http://myimage.com/myimage.png"
                                                value="">
                                        </div>
                                        <div class="uk-margin">
                                            <textarea class="uk-textarea" rows="4" name="commentr"
                                                placeholder="Textarea" value=""></textarea>
                                        </div>
                                        <button type="submit" name="opID" value={{this.uuid}}
                                            class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Reply</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </header>
                        <div class="uk-comment-body">
                            <span class="teaser" id="teas">{{truncate this.comment 125}}</span>

                            <span class="complete" style="white-space: pre-line"> {{this.comment}}</span>

                            <a class="more">more...</a>
                        </div>
                        <hr>

                        <hr class="uk-divider-icon">

                        {{/each}}
                </div>