<div class="uk-container">

<button class="uk-button uk-button-default" id="navButt" type="button">Hover</button>
<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
        <li><a href="/forum/newpost">New Post</a></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">The Forums</li>
        <li><a href="/forum">Board 1</a></li>
        <li class="uk-nav-header">Muhwalls</li>
            <li><a href="http://dinguscrew.com/wallpapers">Wallpapers</a></li>
    </ul>
</div>
<a href="/iploc">iploc</a>
<button href="#toggle-animation" class="uk-button uk-button-default hidden"  type="button"  uk-toggle="  target: #toggle-animation; hidden; animation: uk-animation-fade">Toggle</button>
<div id="toggle-animation" class="uk-card uk-card-default uk-card-body uk-margin-small" hidden><form action="forum/postpost" method="POST">
        <div class="uk-margin">
            <input class="uk-input" name="title" type="text" placeholder="Title" value="">
        </div>
        <div class="uk-margin">
            <input class="uk-input" name="author" type="text" placeholder="Author" value="">
        </div>
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="4" name="comment" placeholder="Textarea" value=""></textarea>
        </div>
<button type="submit" value="postpost" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button>
    </fieldset>
</form></div>
{{#with bod}}

<div class="uk-container">

<ul class="uk-comment-list">
    <li>
      <hr>
<div class="uk-container">
    <h1 class="uk-margin-remove"><a class="uk-link-reset" href="#">Post Title</a></h1>
                        <hr class="uk-divider-small">
        <article class="uk-comment uk-visible-toggle" tabindex="-1">
            <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src={{this.country_flag}} width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                      
                        <h5 class="uk-comment-title uk-margin-remove">{{this.region}}</h5>
                        <h5 class="uk-comment-title uk-margin-remove">{{this.city}}</h5>
                        <h5 class="uk-comment-title uk-margin-remove">{{this.isp}}</h5>
                        <h5 class="uk-comment-title uk-margin-remove">{{this.latitude}}</h5>
                        <h5 class="uk-comment-title uk-margin-remove">{{this.longitude}}</h5>
                        
                        
                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                        <hr class="uk-divider-small">

                    </div>
                </div>
                <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
           

            <div class="signatureBox"><h4></div>
        </article>
</div>
{{/with}}
<hr class="uk-divider-icon">
        <ul>
            <li>
                <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="https://placekitten.com/96/140" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                    </header>
                    <div class="uk-comment-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                     <hr>

            <div class="signatureBox"><h4>Signature garbage</h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, praesentium? Doloribus non dignissimos velit placeat rerum in ipsam. Obcaecati iusto laudantium cumque minima sint odit ea ullam nam recusandae fuga?</div>
                </article>
<hr class="uk-divider-icon">

        